$font-color: rgb(226, 247, 250);

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: none;
  /* background-color: #1F1F1F; */
  background-color: #222049;
  // display: flex
}
.App-header {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
  right: 0;
  background-color: #222049;
  z-index: 100;
  // margin-bottom: 2%;
  /* height: 45px;
  padding: 0 */
}

// .mdc-top-app-bar {
//   background-color: #222049;
//   position: sticky
// }
.App {
  position: relative;
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
  display: block;
  font-family: sans-serif;
  color: $font-color;
}
Link {
  text-decoration: none;
}
h1 {
  font-family: sans-serif;
  color: $font-color;
  margin: 0;
  font-size: xxx-large;
}

/* Basic styles for the navigation rail */

.navigation-rail {
  margin-top: 7rem;
  margin-bottom: 2re;
  //padding-top: 5%;
  // padding-bottom: 5%;
  // background-color: #333;
  // height:80vh; 
  width: 2rem; // Adjust the width as needed
  height: 80vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  // margin-bottom: 20px; 
}

/* Style for individual navigation items */
.nav-item {
  font-size: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  transform-origin: center;
  transform: rotate(-90deg);
  color:rgb(226, 247, 250);
  padding: 10px;
  cursor:help;
  white-space: nowrap; /* Prevent text from wrapping */
  // overflow-x: scroll;
  // background-color: white;
}

/* Styles for content area */
.About{
  width: 30rem;
  margin: 20px;
  color: $font-color;
  font-family: sans-serif;
  right: 0;
  text-align: justify;
  // background-color: rgb(15, 15, 111);
  bottom: 0;
  position: fixed;
    .big-about h2 {
    text-align: right;
  }
}

.main-body {
  // position: absolute;
  margin-left: 2rem; /* Match the width of the navigation rail */
  margin-top: 5rem
  // padding: none; /* Add padding as needed */
  // float: right;
}

.Software {
  .container {
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center
  }
  .tech-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // padding: 10px;
    // justify-content: flex-end;
    text-align: right;
    // margin-right: 0;
    margin-bottom: 30px;
    margin-left: 30px;
      .tech-section {
        // float: right;
        // margin-right: 0;
        // width: fit-content;
        // padding: 0;
        margin: 5px;
        border-color: $font-color;
        border-width: 1px;
        border-style: solid;
        border-right: 0;
      }
      h3 {
        margin: 0;
        font-size: medium;
        margin-bottom: 0;
        padding: 5px;
      }
      p {
        margin-top: 0;
        margin: 4px;
        font-size: smaller;
      }
  }
  .software-card {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 290px;
  background-color: rgb(238, 236, 236);
  // padding: 10px;
  border-radius: 3px;
  margin: 30px 30px;
  box-shadow: black 0px 3px 8px;
  border: rgb(124, 18, 18);
  //  &:hover {
  //   background-color: lightgrey;
  //   transform: scale(1.01);
  //   transition: transform .3s ease;
  //  }
  }
  .software-card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
  }
  .card-back {
    display: flex;
    padding: 0;
    margin: 0 25px;
    flex-direction: column;
    // flex-grow: 3;
    height: 100%;
    // align-items: stretch;
    // width: 435px;
    // background-color:  /black;
    // margin: 15px;
    color: rgb(49, 58, 58);
    .card-title {
    text-align: center;
    margin: 25px 0 0;
    }
    .card-description {
      text-align: justify;
    }
  }
  
}

.Contact {
  // background-color: black;
  .contact-form {
    margin-left: auto;
    margin-right: auto;
    // position: absolute;
    // top: 50%;
    // left: 37%;
    // margin: 15px;
    border-radius: 5px;
	  box-sizing: border-box;
    padding:  0 30px 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $font-color;
    color: #222049 ;
    h2 {
     text-align: center;
    }
    label {
      margin-bottom: 10px;
    }
    input {
      margin-bottom: 30px;
      font-size: 1.1em;
      padding: 10px;
      border: none;
      outline: none;
    }
    textarea {
      height: 80px;
      font-size: 1rem;
      max-width: 325px;
      min-width: 325px;
      padding: 10px;
      border: none;
      outline: none;
    }
    .submit {
      transition: 0.25s;
      margin: 30px 90px 0px;
      // width: 100px;
      background-color: darkcyan;
      // box-shadow: 3px 5px black;
      &:hover {
        background-color: rgb(188, 61, 161);
        cursor: pointer;
        box-shadow: 3px 5px black;
        // box-shadow: 
        //   -3.5em 0 0 0 rgb(188, 61, 161) inset,
        //   3.5em 0 0 0 rgb(188, 61, 161) inset;  
      }
      &:focus {
      //   box-shadow: 
      //     -3.5em 0 0 0 rgb(188, 61, 161) inset,
      //     3.5em 0 0 0 rgb(188, 61, 161) inset; 
      transition: 0s;
      position: relative; 
        right: -3px;
        top: 5px;
        box-shadow: none;
      }
      // &:after{
      // background-color: darkcyan;
      // }
    }
  }
}


/* You can add more styles and adjust colors, fonts, and sizes to fit your design */

@media screen and (max-width: 600px) {
  h1 {
    font-family: sans-serif;
    color:rgb(226, 247, 250);
    margin: 0;
    font-size: xx-large;
  }

  .nav-item {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    color:rgb(226, 247, 250);
    transform-origin: center;
    transform: rotate(-90deg);
    padding: 15px;
    margin-bottom: 4rem;
    // margin-right: .6rem;
    // margin: auto;
    // padding-left: 50px;
    cursor:help;
    white-space: nowrap; /* Prevent text from wrapping */
    // background-color: white;
  }

  .navigation-rail {
    // margin-top: 2.5rem;
    // margin-bottom: 2rem;
    // // margin-right: 3rem;
    // width: 3rem; // Adjust the width as needed
    // // height: 80vh;
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // display: inline-table;
    // z-index: 1;
  }
  
  .main-body {
    width: fit-content;
  }
  .Software{
    .container {
      display: flex;
      flex-direction: column;
      width: 80vw;
    }
    .software-card  {
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 30vh;
      // img {
        // object-fit: contain;
      // max-width: 100%;
      // }
      /* use this for flippin****************
      .front {
      // position: absolute;
      transform: perspective(600px) rotateY(0deg);
      backface-visibility: hidden; // cant see the backside elements as theyre turning around
      transition: transform .5s linear 0s;
      }
      .back {
      position: absolute;
      transform: perspective(600px) rotateY(180deg);
      padding: 5px;
      backface-visibility: hidden;
      transition: transform .5s linear 0s;
      }
      // &:hover {
      //   rotate: 90;
      //   transition: all .4scubic-bezier(.215,.61,.355,1);
      // }
      */ //end flippin
    }

    // .card .active > .front {
    // transform: perspective(600px) rotateY(-180deg);
    // }
    // .card .active > .back {
    // transform: perspective(600px) rotateY(0deg);
    // }
  }

  .film-photo {
      width: 100%;
    }
  
    .Contact {
      .contact-form {
        width: 320px;
        textarea {
          min-width: 245px;
          max-width: 245px;
        }
      }
    }
}

