

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: none;
  /* background-color: #1F1F1F; */
  background-color: #222049;
  // display: flex
}
.App-header {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
  right: 0;
  background-color: #222049;
  z-index: 100;
  // margin-bottom: 2%;
  /* height: 45px;
  padding: 0 */
}

// .mdc-top-app-bar {
//   background-color: #222049;
//   position: sticky
// }
.App {
  position: relative;
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
  display: block;
}
Link {
  text-decoration: none;
}
h1 {
  font-family: sans-serif;
  color:rgb(226, 247, 250);
  margin: 0;
  font-size: xxx-large;
}

/* Basic styles for the navigation rail */

.navigation-rail {
  margin-top: 7rem;
  margin-bottom: 2re;
  //padding-top: 5%;
  // padding-bottom: 5%;
  // background-color: #333;
  // height:80vh; 
  width: 2rem; // Adjust the width as needed
  height: 80vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  // margin-bottom: 20px; 
}

/* Style for individual navigation items */
.nav-item {
  font-size: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  transform-origin: center;
  transform: rotate(-90deg);
  color:rgb(226, 247, 250);
  padding: 10px;
  cursor:help;
  white-space: nowrap; /* Prevent text from wrapping */
  // background-color: white;
}

/* Styles for content area */
.About{
  width: 30rem;
  margin: 20px;
  color:rgb(226, 247, 250);
  font-family: sans-serif;
  right: 0;
  text-align: justify;
  // background-color: rgb(15, 15, 111);
  bottom: 0;
  position: fixed;
}
.big-about h2 {
  text-align: right;
}
.main-body {
  // position: absolute;
  margin-left: 2rem; /* Match the width of the navigation rail */
  margin-top: 50px;
  // padding: none; /* Add padding as needed */
  // float: right;
}


/* You can add more styles and adjust colors, fonts, and sizes to fit your design */

@media screen and (max-width: 600px) {
  h1 {
    font-family: sans-serif;
    color:rgb(226, 247, 250);
    margin: 0;
    font-size: xx-large;
  }

  .nav-item {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    color:rgb(226, 247, 250);
    transform-origin: center;
    transform: rotate(-90deg);
    padding: 15px;
    margin: auto;
    // padding-left: 50px;
    cursor:help;
    white-space: nowrap; /* Prevent text from wrapping */
    // background-color: white;
  }

  .navigation-rail {

    margin-top: 2.5rem;
    margin-bottom: 2re;
    width: 3rem; // Adjust the width as needed
    // height: 80vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-table;
    z-index: 1;
  }
  
}

@media screen and (max-height: 600px) {
  

  // .nav-item {
  //   font-size: 1.5rem;
  //   font-family: sans-serif;
  //   text-decoration: none;
  //   transform-origin: center;
  //   transform: rotate(-90deg);
  //   color:rgb(226, 247, 250);
  //   padding: 15px;
  //   padding-left: 50px;
  //   cursor:help;
  //   white-space: nowrap; /* Prevent text from wrapping */
  //   // background-color: white;
  // }
}